# Dependencies
node_modules/

# Build output
main.js
main.js.map
styles.css
obsidian-plugin/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Obsidian
.obsidian/

# Ignore all markdown files except README.md
*.md
!README.md

# exclode the .zip file 
*.zip